<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .logo{
            color: whitesmoke;
        }
    </style>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <script src="../static/script/myScript.js"></script>
    <link rel="stylesheet" href="/static/styles/myMap.css">

</head>
<body onload="fetchPanier()">

<!-- BARRE DE NAVIGATION EN HAUT -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/" style="font-family: 'Lucida Console', cursive; font-size: 2rem;">Bijouterie du Carat</a>
      <div class="collapse navbar-collapse justify-content-end" id="navbar">
        <ul class="navbar-nav">
            <form class="form-inline">
              <input id="searchbar" onkeyup="search()" type="text" class="form-control mr-sm-2" name="search" placeholder="Recherche...">
              <button type="submit" class="btn btn-outline-light my-2 my-sm-0">Rechercher</button>
            </form>
            <a class="nav-link" id="signup-btn" data-toggle="modal" data-target="#signupModal" href="#">S'inscrire</a>
            <a class="nav-link" id="login-btn" data-toggle="modal" data-target="#loginModal" href="#">Se connecter</a>
            <a class="nav-link" id="logout-btn" data-toggle="modal" data-target="#logoutModal" href="#" onclick="logoutjs()">Se déconnecter</a>
        </ul>
      </div>
    </nav>

    <!-- LOGIN -->

    </div>
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="loginModalLabel">Connexion</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
              <div class="modal-body">
              <div class="container d-flex justify-content-center">
                <form>
                  <div class="form-group">
                    <label for="email">Adresse courriel</label>
                    <input type="email" id="email" name="email" class="form-control" placeholder="Entrer votre adresse courriel">
                  </div>
                  <div class="form-group">
                    <label for="password">Mot de passe</label>
                    <input type="password" id="password" name="password" class="form-control" placeholder="Entrer votre mot de passe">
                  </div>
                  <div class="form-group text-center">
                    <button class="btn btn-outline-dark my-2 my-sm-0" type="button" onclick="validateLoginForm()" style="margin-top: 10px;">Connexion</button>
                  </div>
                </form>
              </div>
              <div id="error-msg" class="text-danger text-center mt-3"></div>
            </div>
        </div>
      </div>
    </div>

    <!-- SIGNUP -->

    <div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="signupModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="signupModalLabel">S'inscrire</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
          <div class="container d-flex justify-content-center">
            <form>
              <div class="form-group">
                <label for="lastname">Nom de famille</label>
                <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Entrer votre nom de famille">
              </div>
              <div class="form-group">
                <label for="firstname">Prénom </label>
                <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Entrer votre prénom">
              </div>
              <div class="form-group">
                <label for="email">Adresse courriel</label>
                <input type="email" class="form-control" id="new_email" name="email" placeholder="Entrer votre adresse courriel">
              </div>
              <div class="form-group">
                <label for="address">Adresse de domicile </label>
                <input type="text" class="form-control" id="address" name="address" placeholder="Entrer votre adresse de domicile">
              </div>
              <div class="form-group">
                <label for="password">Mot de passe</label>
                <input type="password" class="form-control" id="new_password" name="password" placeholder="Entrer votre mot de passe">
              </div>
              <div class="form-group text-center">
                <button class="btn btn-outline-dark my-2 my-sm-0" type="button" onclick="validateSignupForm()" style="margin-top: 10px;">S'inscrire</button>
              </div>
            </form>
          </div>
          <div id="serror-msg" class="text-danger text-center mt-3"></div>
        </div>
        </div>
      </div>
    </div>


    <!-- Fonds d'écran -->

<div class="hero">

    <!-- LISTE DE PRODUITS -->

   <br/>
    <table class="table table-hover table-dark" id="table">
        <thead>
            <tr>
                <th scope="col">Acheter</th>
                <th scope="col">Nom</th>
                <th scope="col">Description</th>
                <th scope="col">Prix ($)</th>
                <th scope="col">Stock</th>
                <th scope="col">Image</th>
            </tr>
        </thead>
        <tbody>
                {% for col in products %}
                    <div class="espacement">
                        <tr>
                            <td>{% if col[4] != 0 %}<a ><button id="buy-button" class="btn btn-outline-light my-2 my-sm-0" onclick="onButton('{{ col[0] }}', '{{ col[1] }}', '{{ col[3] }}')">Ajouter au panier</button></a>{% else %}Rupture de stock{% endif %}</td>
                            <td>{{ col[1] }}</td>
                            <td>{{ col[2] }}</td>
                            <td>{{ col[3] }}</td>
                            <td>{{ col[4] }}</td>
                            <td><img src="https://www.informatiquegifs.com/gifs/images/bijoux/3.gif" alt="blt" style="width:180px;height:142px;">
                            </td>
                        </tr>
                    </div>

                {% endfor %}
        </tbody>
    </table>
    <br/>
    <h3>Panier :</h3>
    <div id="cart-container">
        <div id="product-container"></div>
        <button id="buy" onclick="acheterItems()">Acheter</button>
        <button id="delete-button" onclick="deleteItems()">Supprimer</button>
    </div>

    </div>

    <!--JS PANIER ET RECHERCHE #NADIR-->

    <script>
    function displayItem(id, item, price) {
        var itemcontainer = document.getElementById('product-container')
        var newItem = document.createElement('div')
        newItem.innerText = "ID : " + id + ' **** Produit : ' + item + ' **** Prix: ' + price + '$'
        itemcontainer.appendChild(newItem)
    }


    function onButton(itemId, itemName, itemPrice) {
        fetch('/add-to-panier/', {
            method: "POST",
            headers: {
               "Content-Type": "application/json"
                    },
            body: JSON.stringify({
                id : itemId,
                item: itemName,
                price : itemPrice
        })
    })
        displayItem(itemId, itemName, itemPrice)
    }

    function fetchPanier() {
        fetch('/panier').then(function (response) {
            return response.json()
        }).then(function (data) {
            let pids = data.pide
            let noms = data.nom
            let prix = data.prix

            for (let i = 0; i < pids.length; i++) {
                displayItem(pids[i], noms[i], prix[i])
            }
        });
    }

    function deleteItems() {
        fetch(`/delete_panier/`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            }
        }).then(response => response.json()).then(data => {
            if (data.status === 200) {
                window.location.reload();
            }
        })
    }

    function acheterItems() {
        fetch(`/acheter-panier/`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            }
        }).then(response => response.json())
            .then(data => {
            if (data.status === 200) {
                window.location.reload();
            }
        })
    }

    function search() {
        var input = document.getElementById("searchbar");
        var upper = input.value.toUpperCase();
        var collonne = document.getElementById("table").getElementsByTagName("tr");

          for (var i = 0; i < collonne.length; i++) {
            var elements = collonne[i].getElementsByTagName("td");
            var valide = false;
            for (var j = 0; j < elements.length; j++) {
              var element = elements[j];
              if (element) {
                var text = element.textContent || element.innerText;
                if (text.toUpperCase().indexOf(upper) > -1) {
                  valide = true;
                  break;
                }
              }
            }
            collonne[i].style.display = valide ? "" : "none";
          }
        }
        document.querySelector("form").addEventListener("submit", function(e) {
          e.preventDefault();
          search();
    });
    </script>

    {#PANIER#}


<!--LIBRAIRIES UTILISÉS-->

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
</body>
</html>
