*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}
.hero{
  min-height: 150vh;
  width: 100%;
  background-color: #000;
  background-image: url(https://i.pinimg.com/originals/b0/72/b4/b072b454c263e9ebe2ab3063b4907480.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  color: #fff;
  padding: 0 8%;
}

.espacement {
  border-collapse: separate;
  border-spacing: 0 15px;
}
